@charset "utf-8";
.xl-photospage-icon{
    display:inline-block;
    background:url(../img/pssprites.png) no-repeat;
    animation-fill-mode:none}
.xl-photospage-icon:hover{
    animation-fill-mode:forwards !important}
.xl-mask,.xl-photospage{
    position: fixed;
    _position: absolute}
.xl-mask{
    top: 0;
    left: 0;
    z-index: 712;
    width: 100%;
    height: 100%;
    _height: expression(document.body.offsetHeight+"px");
    background-color: #000;
	transition: all .7s cubic-bezier(.39,.58,.57,1);
    opacity: .9;
    filter: alpha(opacity=90)}
.xl-photospage{
    top: 25px;
    left: 100px;
	z-index: 724;
    opacity: 0}
.xl-photospage-main{
    position: relative;
    _float: left;
    height: 100%}
.xl-photospage-imgarea{
	position: absolute;
    top: 0;
	left: 0;
	height: 100%;
	overflow: hidden}
.xl-photospage-vanish{
	position: absolute;
	right:-16px;
	top: -16px;
	width: 30px;
	height: 30px}
.xl-ps-icon-close{
	position: relative;
    width: 30px;
    height: 30px;
    background-position: -1px -2px}
.xl-ps-icon-close:hover{
    background-position: -1px -39px}
.xl-photospage-state{
    position: absolute;
    top: 46%;
    left: 50%;
    z-index: 999;
    display: none;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 30px;
    cursor: default;
    pointer-events:none}
:root .xl-photospage-state{
    background-color: rgba(0,0,0,0.5);
}
.xl-photospage-img{
    position: relative;
    display: block;
	width: 100%;
	height: 100%;
    /*text-align: center;*/
    background: url("../img/loading.gif") center 47% no-repeat #000;
    /*-moz-user-select: none;*/
    overflow: hidden}
.xl-photospage-img img{
    position: relative;
	display: inline-block;
	opacity: 0;
    cursor: default;
    user-select: none}
:root .xl-photospage-img img{
    cursor: url("../img/grabhand.cur"),move}
.xl-photospage-imgsee{
    _display:block;
    transition: all .3s ease-out;
	opacity: 0}
.xl-ps-icon-prevphoto,.xl-ps-icon-nextphoto{
	position: absolute;
	top: 47%;
	display: block;
    width: 27px;
	height: 44px;
    margin-top: -22px;
	outline: none;
	opacity: .6;
    filter: alpha(opacity=60)}
.xl-ps-icon-prevphoto{
    left: 10px;
    background-position: -33px -1px}
.xl-ps-icon-nextphoto{
    right: 10px;
    background-position: -63px -1px}
.xl-ps-icon-prevphoto:hover,.xl-ps-icon-nextphoto:hover{
	opacity: 1;
    filter: alpha(opacity=100)}
.xl-photospage-imgbar{
    position: absolute;
	left: 0;
	bottom: 56px;
	+bottom: 0;
	z-index: 10;
	width: 100%;
    height: 34px;
    font-size: 16px;
    line-height: 34px;
    color: #fff;
    text-align: center;
	background-color: rgba(0,0,0,.8);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#c8000000,endcolorstr=#c8000000);
	cursor: default;
	white-space: nowrap;
    transition: bottom .3s ease-in-out;
}
.xl-photospage-showimglist{
    position: absolute;
    left: 10px;
    font-size: 14px;
    text-indent: 18px;
    color: #c5c5c5;
    opacity: .8;
    filter: alpha(opacity=80);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none
}
.xl-photospage-showimglist:hover{
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
}
.xl-photospage-showimglist:after{
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 14px;
    height: 11px;
    background:url(../img/pssprites.png) no-repeat;
    background-position: -215px -37px;
    /*pointer-events: none;*/
}
/*.xl-icon-arrow{*/
/*    background-position: -215px -37px;*/
/*}*/
.hide-imglist.xl-photospage-imgbar{
    bottom: 0;
}
.hide-imglist .xl-photospage-showimglist:after{
    background-position: -227px -37px;
}
/*.xl-photospage-imgbar.hide .xl-icon-arrow{*/
/*    background-position: -227px -37px;*/
/*}*/
.xl-photospage-tool{
    position: absolute;
    top: 0;
	right: 10px;
	height: 32px;
	font-size: 0}
.xl-photospage-tool a{
	position: relative;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	cursor: pointer;
	outline: none;
	opacity:.6;
    filter: alpha(opacity=60)}
.xl-photospage-tool a:hover{
	opacity: 1;
	filter: alpha(opacity=100)}
.xl-photospage-imgarea .xl-photospage-imgdisabled,.xl-photospage-imgarea .xl-photospage-imgdisabled:hover{
	opacity: .3;
	filter: alpha(opacity=30);
	cursor: default}
.xl-ps-icon-remove{
    background-position: -217px -1px}
.xl-ps-icon-leftrotate{
	background-position: -93px -1px}
.xl-ps-icon-rightrotate{
	background-position: -95px -39px}
.xl-ps-icon-rerotate{
	background-position: -157px -39px}
.xl-ps-icon-zoomin{
	background-position: -125px -1px}
.xl-ps-icon-zoomout{
	background-position: -127px -39px}
.xl-ps-icon-original{
	background-position: -155px 0}
.xl-ps-icon-fullscreen{
    background-position: -187px 0}
.xl-ps-icon-exitfullscreen{
    background-position: -187px -39px}
.xl-photospage-imgarea .xl-photospage-imgsee{
    display: block;
	opacity: 1}
.xl-photospage-imglist{
    position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 61px;
	background-color: #000;
    transition: height .3s ease-in-out;
}
.xl-photospage-imglist-list{
	margin: 0 30px;
	overflow: hidden}
.xl-photospage-imglist ul{
	width: 100%;
	height: 56px;
	overflow: hidden;
    user-select: none}
.xl-photospage-imglist li{
    position: relative;
	float: left;
	width: 56px;
	height: 56px;
	margin-right: 5px;
	overflow: hidden}
.xl-photospage-imglist li a{
    position: relative;
	display: inline-block;
	width: 56px;
	height: 56px;
	padding: 3px;
	overflow: hidden;
	outline: none;
	opacity: .6;
    filter: Alpha(Opacity=60)}
.xl-photospage-imglist li.xl-photospage-current a,.xl-photospage-imglist li a:hover{
    z-index: 999;
	padding: 0;
	border: 3px solid #73B4E0;
    filter: Alpha(Opacity=100);
    opacity: 1}
.xl-photospage-imglist a:hover{
	opacity: 1}
.xl-photospage-imglist img{
	display: block;
	width: 50px;
    height: 50px;
	border: 1px solid #000}
.xl-ps-icon-listprve,.xl-ps-icon-listnext{
	position: absolute;
	top: 0;
	width: 15px;
	height: 30px;
	margin: 13px 0;
	outline: none;
    opacity: .6;
    filter: alpha(opacity=60)}
.xl-ps-icon-listprve{
	left: 8px;
    background-position: -33px -46px}
.xl-ps-icon-listnext{
	right: 8px;
	background-position: -48px -46px}
.xl-photospage-intro{
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	background-color: #fff}
.xl-photospage-content{
	line-height: 2}
.xl-photospage-content h1{
    padding: 20px 30px 10px;
	font-size: 16px;
	line-height: 1.8}
.xl-photospage-userinfo{
	padding: 20px 25px 0;
	_padding: 20px 20px 0}
.xl-photospage-user-avatar{
	float: left;
	width: 50px;
	height: 50px;
	-moz-user-select:none}
.xl-photospage-section{
    float: right;
    width: 180px}
.xl-photospage-user-info{
	font-size: 14px}
.xl-photospage-user-info a{
	color: #3d3d3d}
.xl-photospage-timestamp{
	font-size: 12px;
	color: #adadad}
.xl-photospage-content p{
    padding: 10px 30px;
	font-size: 14px;
    clear: both}
.xl-photospage-handle-tab{
	width: 300px;
	background-color: #FFF;
    box-shadow: 0 1px 1px rgba(0,0,0,.1)}
.xl-photospage-handle-tab li{
    position: relative;
	float: left;
	width: 75px;
	cursor: pointer}
.xl-photospage-tab-btn{
	display: block;
	width: 75px;
	height: 16px;
	padding: 8px 0 12px;
	text-align: center;
	border-bottom: 1px solid #D5D5D5;
    outline: none;
    box-sizing: content-box}
.xl-photospage-tab-btn i{
	width: 16px;
	height: 16px;
    font-size: 0;
    pointer-events: none}
.xl-photospage-tab-btn:hover{
    text-decoration: none;
    background-color: #EFEFEF;
    background-image: -moz-linear-gradient(top,#FFF,#EFEFEF);
    background-image: -o-linear-gradient(top,#FFF,#EFEFEF);
	background-image: -webkit-linear-gradient(top,#FFF,#EFEFEF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#ebebeb',GradientType=0)}
.xl-ps-icon-like{
	background-position: -247px -1px}
.xl-ps-icon-comment{
	background-position: -247px -18px}
.xl-ps-icon-keep{
	background-position: -247px -38px}
.xl-ps-icon-download{
	background-position: -247px -57px}
.xl-ps-icon-fullscreenclose{
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 999;
    display: none;
    width: 26px;
    height: 26px;
    opacity: .6;
    background-position: -66px -48px}
.xl-ps-icon-fullscreenclose:hover{
    opacity: 1}
.xl-photospage-mobile{
    top: 0px !important;
    left: 0px !important;
}
.xl-photospage-mobile .xl-photospage-vanish{
    top: 40px !important;
    right: 40px !important;
}
.xl-photospage-mobile .xl-photospage-imglist,.xl-photospage-mobile .xl-photospage-showimglist,.xl-photospage-mobile .xl-photospage-intro{
    display: none;
}
.xl-photospage-mobile .xl-photospage-imgbar{
    bottom: 0 !important;
}
.xl-imgarea-fullscreen .xl-photospage-imgarea{
    width: 100% !important}
.xl-imgarea-fullscreen .xl-ps-icon-fullscreenclose{
    display: block}
/*.xl-imgarea-fullscreen .xl-photospage-imglist,.xl-imgarea-fullscreen .xl-photospage-imgsee{*/
/*    transition: all .3s ease-out;*/
/*    opacity: 0}*/
/*.xl-imgarea-fullscreen:hover .xl-photospage-imglist,.xl-imgarea-fullscreen:hover .xl-photospage-imgsee{*/
/*    opacity: 1}*/
.xl-imgarea-fullscreen .xl-photospage-state{
    top: 44%}
.xl-imgarea-fullscreen .xl-photospage-showimglist,.xl-imgarea-fullscreen .xl-photospage-intro{
    display:none;
}
/*.xl-imgarea-fullscreen .xl-photospage-imgbar{*/
/*    bottom: 91px;*/
/*}*/
/*.xl-imgarea-fullscreen .xl-photospage-imglist{*/
/*    bottom: 0;*/
/*}*/
.xl-imgarea-fullscreen .xl-ps-icon-fullscreen{
    background-position: -187px -39px}
.xl-photospage-fullscreen-ious{
    position: absolute;
    left: 0;
    bottom: 61px;
    z-index: 9999;
    width: 100%;
    height: 30px;
    background-color: #000;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: bottom .3s ease-in-out,opacity .3s ease-in-out;
}
.xl-photospage-fullscreen-ious div{
    position: relative;
    width: 25%;
    height: 8px;
    margin: 12px auto;
    background-color: #767676;
    border-radius: 20px;
    pointer-events: none;
}
.xl-imgarea-fullscreen .xl-photospage-fullscreen-ious{
    bottom: 0;
    opacity: 1;
    visibility:visible;
}
.xl-imgarea-fullscreen .xl-photospage-imgbar{
    bottom: 30px;
}
.xl-imgarea-fullscreen .xl-photospage-imglist{
    height: 0;
}
.above .xl-photospage-imglist{
    bottom: 0;
    height: 61px;
}
.above .xl-photospage-imgbar{
    bottom: 61px;
}
.xl-imgarea-fullscreen .above .xl-photospage-fullscreen-ious{
    opacity: 0;
    visibility: hidden;
    bottom: 35px;
}